@charset "utf-8";

html {
	 background-image: url("raceway.jpg");
	 background-size: center;
	 background-repeat: repeat;
}

header {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 100%;
	position: absolute;
	left: 40%;
}
/* start classes */
.redCarPosition {
	position: absolute;
	top: 220px;
	left: 25px;
}
.orangeCarPosition {
	position: absolute;
	top: 240px;
	left: 0px;
}
.lightPosition {
	position: absolute;
	top: 500px;
	left: 50%;
	height: 200px;
}
.linePosition {
	position: absolute;
	height: 100px;
	top: 350px;
	left: 1300px;
}
.housePosition {
	position: absolute;
	height: 150px;
	left: 1300px;
	top: 210px;
}
.blockPosition {
	position: absolute;
	height: 300px;
	top: 250px;
	left: 500px;
	visibility: hidden;
}




